body {
  font-family: 'Judson', serif;
  background-color: #e9ecef;
}


h1 {
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px black;
  font-size: 5em;

}

.jumbotron {
  background-image: url(../images/burger.jpeg);
  background-color: #171516;
  background-position: left;
  background-repeat: no-repeat;
}

.food-btn {
  font-size: 1.3em;
margin: 5px;

}

.gifDiv {
  display: inline-block;
  margin: 10px;
  
}
